<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.khel247" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <!-- To access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!--
    To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
    option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Access the user's location by phone or wifi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-library android:name="com.google.android.maps" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.khel247.LoginActivity" />
        </activity>

        <!-- Facebook app id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- To access google play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".account.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".PeopleActivity"
            android:label="@string/title_activity_people"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.khel247.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.khel247.MainActivity" />
        </activity>

        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.android.khel247" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmIntentService" />

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.khel247.MainActivity" />
        </activity>
        <activity
            android:name=".GameLocationActivity"
            android:label="@string/title_activity_game_location"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/location_searchable" />
        </activity>
        <activity
            android:name=".FindGamesActivity"
            android:label="@string/title_activity_find_games"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.khel247.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/location_searchable" />
        </activity>
        <activity
            android:name=".CreateGameActivity"
            android:label="@string/title_activity_create_game"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.khel247.MainActivity" />
        </activity>
        <activity
            android:name=".ViewLocationActivity"
            android:label="@string/title_activity_view_location"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>
    </application>

</manifest>
